.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.toxic-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}

.speedometer-container {
  height: 160px;
  margin: 0 auto 60px;
  overflow: hidden;
}

.speedometer-container div {
  transition: transform 1s ease-in-out;
}

.logo-container {
  max-width: 600px;
  margin: 60px auto;
}

.logo-container img {
  width: 100%;
}

button {
  font-family: Bangers;
  font-size: 36px;
  padding: 10px 30px;
  border-radius: 6px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 19px;
  color: #fff;
  background-color: #0072a7;
  /* background-color: #FC5959; */
  border: none;
}
