html {
    height: 100%;
    background:
        url("./assets/background.png"),
        linear-gradient(155deg, #005990, black);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
}
body {
  margin: 0;
  padding: 0 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 768px) {
  body {
    background-position: 0px;
  }
}
